.no-left-padding {
    padding-left: 0!important;
}

.no-right-padding {
    padding-right: 0!important;
}

.push-down-10 {
    margin-top: 10px;
}

.store-credit-badge {
    position: relative!important;
    top: 0px!important;
    right: 0px!important;
}