<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Decks</strong> &nbsp;
            <a class="label label-success" href="#/admin/decks/add">Add New Deck</a>
        </div>
        <div class="panel-body">
            <div class="table table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Deck Name</th>
                            <th>Card Count</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="!vm.decks.length">
                            <td colspan="3">No data available</td>
                        </tr>
                        <tr data-ng-repeat="deck in vm.decks">
                            <td>{{ deck.deckName }}</td>
                            <td>{{ deck.cardCount }}</td>
                            <td>
                                <a class="label label-primary" href="#/admin/decks/edit/{{ deck.$id }}">Edit</a> |
                                <a class="label label-danger" data-ng-click="vm.deleteDeck(deck.$id)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>